apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: uptime
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      initContainers:
        - name: wait-for-postgres
          image: postgres:16
          command:
            - sh
            - -c
            - |
              until pg_isready -h postgres -p 5432 -U postgres; do
                echo "waiting for postgres..."
                sleep 2
              done
      containers:
        - name: worker
          image: infra-uptime-monitor:local
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: uptime-config
          command: ["sh", "-c"]
          args:
            - "python -m app.worker"